<body>
  <section>
    <div class='big-header-favroites'>
      <div class='container'>
        <h1 class='display-4'><img
            class='resize'
            src='./images/chef-s-uniform-icon-chef-f67523f4be024138c8b31b6b4b2eb099 (1).png'
            alt='A cute chef hat.'
          />Favo<span class='me-header'>rites</span></h1>
        <p class='lead lead-resize text-bold'>Welcome,
          {{name}}!
          <div class='text-bold'>Here are your favorite recipes:</div>
        </p>
      </div>
    </div>
  </section>

  <div class='favorite-list'>
    {{#each recipes as |recipe|}}
      <div class='container'>
        <div class='row'>
          <div class='col col-padding'>{{recipe.name}}</div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{recipe.id}}'
            >DELETE</button>
          </div>
        </div>

      </div>
    {{/each}}
  </div>

  <footer>Est. 2022</footer>
  <script src='./js/profile.js'></script>

</body>