header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(124, 42, 42);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: rgb(124, 42, 42);
  text-decoration: underline;
}

body {
  background-color: rgb(250, 228, 232);
  color: rgb(124, 42, 42);
}

.btn-color {
  background-color: rgb(238, 158, 158);
  color: white;
}

header h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

.center {
  margin-left: 400px;
  padding-top: 100px;
}

a {
  color: rgb(228, 79, 79);
  text-decoration: none;
}

a:hover {
  color: rgb(228, 79, 79);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

header h1 .me-header {
  color: rgb(124, 42, 42);
}

.big-header {
  padding: 70px;
  margin-right: 500px;
}

.card-text-color {
  color: rgb(228, 79, 79);
}

.card-color {
  background-color: rgb(255, 242, 242);
}

.btn-color {
  background-color: rgb(238, 158, 158);
  color: white;
  border-color: white;
  border-radius: 25px 25px 25px 25px 25px;
  width: 200px;
}

.lead-resize {
  padding-top: 50px;
}

section h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

section h1 .me-header {
  color: rgb(124, 42, 42);
}

.text-bold {
  font-size: 30px;
}

.big-header {
  padding: 70px;
  margin-right: 500px;
}

.resize {
  width: 400px;
  height: 400px;
}

.image-align {
  float: left;
  margin-right: 200px;
}

section h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

.text-bold {
  font-size: 30px;
}

a:after {
  color: rgb(228, 79, 79);
}

header {
  padding: 20px;
  background-color: rgb(250, 228, 232);
  color: #2f2f2f;
}

.card-text-design {
  font-size: 50px;
}

.nav-padding {
  padding: 60px;
}

.big-header-favorites {
  float: left;
  size-adjust: 100px;
}

footer {
  text-align: center;
}
