header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

body {
  background-color: rgb(250, 228, 232);
  color: rgb(124, 42, 42);
}

.btn-color {
  background-color: rgb(238, 158, 158);
  color: white;
}

header h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

header h1 .me-header {
  color: rgb(124, 42, 42);
}

.center {
  margin-left: 400px;
  padding-top: 100px;
}

a {
  color: rgb(228, 79, 79);
  text-decoration: none;
}

a:hover {
  color: rgb(228, 79, 79);
  text-decoration: none;
}
