header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(124, 42, 42);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: rgb(124, 42, 42);
  text-decoration: underline;
}

body {
  background-color: rgb(250, 228, 232);
  color: rgb(124, 42, 42);
}

header h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

a {
  color: rgb(228, 79, 79);
  text-decoration: none;
}

a:hover {
  color: rgb(228, 79, 79);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

header h1 .me-header {
  color: rgb(124, 42, 42);
}

.big-header {
  padding: 70px;
  margin-right: 500px;
}

.card-text-color {
  color: rgb(255, 242, 242);
}

.card-color {
  background-color: rgb(255, 242, 242);
}

.btn-color {
  background-color: rgb(124, 42, 42);
  color: white;
  border-color: white;
  text-align: center;
  margin: 10px;
}

.welcome {
  color: rgb(228, 79, 79);
}

section h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

section h1 .me-header {
  color: rgb(124, 42, 42);
}

.resize {
  width: 400px;
  height: 400px;
}

.image-align {
  float: left;
}

section h1 {
  color: rgb(228, 79, 79);
  display: inline-block;
  font-size: 48px;
}

a:after {
  color: rgb(228, 79, 79);
}

.move {
  animation-name: imagemove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes imagemove {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

header {
  padding: 20px;
  background-color: rgb(250, 228, 232);
  color: #2f2f2f;
}

.card-text-design {
  font-size: 50px;
}

.nav-padding {
  padding: 60px;
}

.favdesign {
  display: inline-block;
}

.recipe-card-display {
  background-color: rgb(124, 42, 42);
  border-color: rgb(255, 242, 242);
  border-width: 3px;
  border-radius: 15px;
  padding: 15px;
  margin: 30px;
}

.header-design {
  background-color: rgb(255, 242, 242);
}
.subtitle-design {
  color: rgb(228, 79, 79);
}

.resize-main {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.transparent {
  background-color: transparent;
}

.card-style {
  background-color: rgb(255, 242, 242);
  border-color: rgb(255, 242, 242);
  border-width: 3px;
  padding: 20px;
  margin: 30px;
}

.card-border {
  border-top: dotted rgb(124, 42, 42) 0.1px;
}

.header-text {
  font-family: 'Fredoka One', cursive;
}

.btn-outline {
  border-color: rgb(124, 42, 42);
  color: black;
  padding: 10px;
  margin: 10px;
}

.btn-outline:hover {
  background: rgb(124, 42, 42);
  color: white;
}

.card-center {
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(255, 242, 242);
}

img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: rgb(250, 228, 232); /* Black background color */
  background-color: rgb(124, 42, 42); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
